@using pc_part_hunter.Pages.Views.LandingPage.Components
@using pc_part_hunter.Pages.Components.Banners
@page "/"

<section class="mt-20 flex flex-col gap-5">
    <ComparisonBanner></ComparisonBanner>
    <StoresBanner></StoresBanner>

    <div class="flex flex-col mt-20">
        <ul class="flex flex-col gap-24">
            @for (int i = 0; i < 3; i++)
            {
                <TopPicks></TopPicks>
            }
        </ul>
    </div>
</section>

@code {

}
