<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24 flex flex-col justify-center">
        <div class="mx-auto max-w-xl text-center sm:text-left flex flex-col gap-2">
            <p class="text-sm font-semibold">
                Build part
            </p>
            <h2 class="text-2xl font-semibold text-gray-900 md:text-6xl">
                Comparisons
            </h2>
            <div class="flex gap-2">
                <hr class="w-[80px] border border-sm border-gray-400 my-auto">
                <p class="font-normal">
                    from the top stores in South Africa
                </p>
            </div>
            <div class="mt-4 md:mt-8">
                <a href="/explore"
                    class="inline-block rounded bg-teal-300 px-8 py-2 text-sm font-medium text-white transition hover:bg-teal-500 focus:outline-none">
                    <p class="text-lg">
                        Explore
                    </p>
                </a>
            </div>
        </div>
    </div>

    <img alt="Student"
        src="https://www.pcbuildersclub.com/wp-content/uploads/2018/04/Grafikkarten-Feature-Mockup.png"
        class="h-56 w-full object-cover sm:h-full" />
</section>

@code {

}
