@using pc_part_hunter.Pages.Views.ExplorePage.Components

@page "/explore"

<section class="flex flex-col gap-10">
    <!-- <app-explore-header></app-explore-header> -->

    <ExploreHeader></ExploreHeader>

    <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-start px-44">
        <div class="sticky top-4 z-50">
            <ExploreSearchFilter></ExploreSearchFilter>
        </div>
        <div class="lg:col-span-3">
            <ExploreProductList></ExploreProductList>
        </div>
    </div>

</section>

@code {

}
