<section class="w-full flex justify-center gap-5">
    <a href="">
        <div class="w-[175px] h-[75px] bg-gray-100 flex flex-col justify-center p-5">
            <img src="/assets/images/evetech.png" alt="">
        </div>
    </a>
    <a href="">
        <div class="w-[175px] h-[75px] bg-gray-100 flex flex-col justify-center p-5">
            <img src="/assets/images/titan-ice.png" alt="">
        </div>
    </a>
    <a href="">
        <div class="w-[175px] h-[75px] bg-gray-100 flex flex-col justify-center p-5">
            <img src="/assets/images/dreanware.png" alt="">
        </div>
    </a>
</section>

@code {

}
