@using pc_part_hunter.Pages.Components

<div class="flex items-center justify-between h-[50px] border border-1 p-5">

    @* Get the total number of items on the page *@
    <p class="text-sm text-gray-500">
        <span class="hidden sm:inline"> Showing </span>
        {20} search results
    </p>

    <div class="ml-4">
        <label for="SortBy" class="sr-only"> Sort </label>

        <InputSelect id="sorting" @bind-Value="sort">
            @foreach (var option in sortingOptions)
            {
                <option value="@option">@option</option>
            }
        </InputSelect>
    </div>
</div>

<!-- Check if the products have been loaded -->
@if (productsLoaded)
{
    <div class="mt-4 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4" *ngIf="isLoading; else showProducts">
        @for (int i = 0; i < 40; i++)
        {
            <div class="product-card-container relative">
                <AnimatedLoadingProduct></AnimatedLoadingProduct>
            </div>
        }
    </div>
}
else
{
    <div class="mt-4 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
        @foreach (var product in products)
        {
            <div class="product-card-container relative">

                @* Pass the product here *@
                <ExploreProductCard></ExploreProductCard>

                @* Add an on click for the button *@
                <button
                    class="compare-button transition ease-in-out bg-teal-100 absolute top-0 right-0 m-5 p-3 rounded-[100%] shadow-lg">
                    <svg width="20" height="20" viewBox="0 0 24 22" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.87 0.0458342C11.7651 0.110001 11.7377 0.178751 11.6214 0.657709C11.4936 1.19625 11.4252 1.42771 11.3226 1.66146C11.0876 2.19771 11.099 2.67438 11.3545 3.18083C11.432 3.33438 11.4549 3.39854 11.4366 3.41688C11.4229 3.43063 11.4161 3.47646 11.4229 3.51771C11.432 3.56813 11.4138 3.63917 11.3636 3.75375C11.3226 3.84542 11.2587 4.04708 11.2199 4.20292L11.1469 4.48708L10.9645 4.50313C10.3007 4.55813 9.62098 4.71625 8.9253 4.9775C8.51929 5.12875 8.27979 5.23646 7.84642 5.45646C7.39479 5.68792 7.14389 5.85292 6.49838 6.34104C5.71374 6.93688 5.35335 7.17063 4.95191 7.33792C4.65767 7.46396 4.66223 7.46167 4.64398 7.37458C4.60521 7.20271 4.47976 7.04 4.31325 6.95292C4.25623 6.92313 4.18552 6.90938 4.06235 6.90938C3.86847 6.90938 3.75898 6.95521 3.63809 7.08583C3.51492 7.21646 3.48071 7.30354 3.48071 7.49375C3.48071 7.69542 3.52861 7.80542 3.67231 7.93604L3.76354 8.01854L3.65862 8.23167C3.53317 8.49063 2.57974 10.4683 2.39726 10.851C2.32427 11.0023 2.06197 11.5477 1.81106 12.0656C1.56244 12.5813 1.08573 13.569 0.75499 14.2588L0.150542 15.5146H0.0752709H0L0.0957993 15.6567C0.239498 15.8744 0.684281 16.3052 0.937464 16.4748C1.52138 16.8621 2.27409 17.1302 3.12716 17.2494C3.53317 17.3067 4.57099 17.3044 4.98612 17.2494C6.1015 17.0958 7.00475 16.7063 7.62289 16.1173C7.8122 15.934 8.0996 15.5856 8.0996 15.5352C8.0996 15.5238 8.07223 15.5146 8.03573 15.5146C7.97415 15.5146 7.9445 15.4527 7.01616 13.5277C6.48926 12.4346 5.68181 10.7617 5.22334 9.80833L4.3908 8.07813L4.60749 8.04146C5.36476 7.91313 6.01483 7.61063 6.97054 6.94375C7.14617 6.82229 7.40163 6.64583 7.53849 6.55417C8.23418 6.08667 9.21498 5.69021 10.1456 5.50229C10.4284 5.445 10.8732 5.38542 11.0192 5.38542C11.0511 5.38542 11.0603 5.44042 11.0831 5.77958C11.1332 6.50604 11.2701 7.15458 11.5142 7.81229C11.5826 7.99563 11.5894 8.03458 11.5666 8.07813C11.5347 8.13771 11.5507 8.18125 11.6054 8.18125C11.6351 8.18125 11.6373 8.22708 11.6236 8.56396C11.6145 8.77708 11.6031 8.965 11.6008 8.98333C11.5986 9.00167 11.5872 9.18729 11.5757 9.39583C11.5666 9.60438 11.5575 9.77854 11.5552 9.78542C11.5529 9.79229 11.5438 9.97792 11.5324 10.1979C11.521 10.4179 11.5119 10.6035 11.5096 10.6104C11.5073 10.6173 11.4982 10.8029 11.4868 11.0229C11.4754 11.2429 11.4663 11.4285 11.464 11.4354C11.4617 11.4423 11.4526 11.6371 11.4435 11.8708C11.432 12.1046 11.4206 12.3108 11.4184 12.3292C11.4161 12.3475 11.4047 12.5538 11.3978 12.7875C11.3887 13.0213 11.3773 13.2481 11.3727 13.2917C11.3499 13.4933 11.3112 15.0815 11.3203 15.4C11.3294 15.6704 11.3431 15.7896 11.3796 15.8996C11.4343 16.0669 11.4252 16.1127 11.3226 16.2365C11.1743 16.4106 11.1424 16.6902 11.2427 16.9194C11.2838 17.0133 11.2861 17.0248 11.2519 17.0592C11.2199 17.0913 11.2199 17.0981 11.2564 17.1371C11.2929 17.1783 11.2883 17.215 11.1652 17.8315C11.0124 18.6038 10.9987 18.7985 11.0511 19.431C11.0717 19.674 11.0876 19.9398 11.0876 20.02V20.1667H10.3304C9.57993 20.1667 9.56852 20.1667 9.45448 20.2217C9.30393 20.2927 9.19217 20.3935 9.12374 20.5219L9.069 20.625H8.77704C8.35507 20.625 8.17943 20.696 7.98783 20.9481C7.92397 21.0329 7.89204 21.0535 7.78939 21.0765C7.6092 21.1177 7.49743 21.1842 7.39935 21.3056C7.21688 21.5325 7.18495 21.5577 6.96826 21.6219C6.85649 21.6563 6.72876 21.7044 6.68314 21.7273C6.58506 21.7777 6.48014 21.8946 6.48014 21.9565C6.48014 22 6.56909 22 12 22C17.4309 22 17.5199 22 17.5199 21.9565C17.5199 21.8373 17.3328 21.7113 17.0295 21.6219C16.8242 21.5623 16.7808 21.5325 16.644 21.3606C16.5048 21.1842 16.3566 21.0948 16.1718 21.0696C16.0806 21.0581 16.0601 21.0444 16.0373 20.9917C16.0008 20.9 15.8616 20.774 15.7179 20.7006C15.5993 20.641 15.5719 20.6365 15.2549 20.6296L14.9173 20.6204L14.8945 20.5608C14.8534 20.4554 14.7234 20.3156 14.598 20.2469L14.4748 20.1781L13.6947 20.1713L12.9124 20.1644V19.9948C12.9124 19.9031 12.9283 19.6327 12.9489 19.3944C12.9968 18.8169 12.9854 18.6106 12.8599 17.9781C12.7048 17.1944 12.7048 17.1921 12.7367 17.1394C12.7573 17.1073 12.7573 17.0844 12.739 17.0569C12.7208 17.0271 12.7253 16.995 12.755 16.9217C12.8576 16.6925 12.8257 16.4106 12.6774 16.2365C12.5748 16.1127 12.5657 16.0669 12.6204 15.8996C12.6866 15.6956 12.6957 15.3175 12.6638 14.2931C12.6478 13.8233 12.6318 13.3994 12.6273 13.349C12.6227 13.2985 12.6113 13.0763 12.6044 12.8563C12.5976 12.6363 12.5862 12.4185 12.5816 12.375C12.5771 12.3315 12.5657 12.1252 12.5588 11.9167C12.5497 11.7081 12.5406 11.5133 12.536 11.4813C12.5315 11.4492 12.5223 11.2635 12.5132 11.0688C12.5041 10.874 12.495 10.6883 12.4904 10.6563C12.4858 10.6242 12.4767 10.4385 12.4676 10.2438C12.4585 10.049 12.4493 9.86333 12.4448 9.83125C12.4402 9.79917 12.4288 9.61354 12.422 9.41875C12.4128 9.22396 12.4014 9.0475 12.3992 9.02917C12.3969 9.01083 12.3855 8.81604 12.3764 8.60063L12.3604 8.20417L12.4128 8.16063C12.463 8.11938 12.4653 8.11479 12.4288 8.07354C12.4037 8.04604 12.3969 8.02083 12.4106 7.99563C12.4539 7.91771 12.5953 7.49833 12.6729 7.22333C12.8166 6.69854 12.8918 6.22417 12.9238 5.65354C12.9375 5.4175 12.9443 5.38542 12.9808 5.38542C13.0789 5.38542 13.51 5.43583 13.6879 5.46792C14.3881 5.59396 15.2366 5.88271 15.8867 6.21729C16.0373 6.29292 16.3292 6.47167 16.5368 6.61146C16.7443 6.75125 17.0751 6.97583 17.269 7.10646C18.1015 7.67021 18.7858 7.96583 19.4769 8.05521C19.5408 8.06438 19.5955 8.07813 19.5955 8.08729C19.5955 8.09646 18.9888 9.36146 18.2498 10.8969C17.5085 12.4346 16.7056 14.1029 16.4638 14.6025L16.0259 15.5146H15.9506H15.8753L15.9711 15.659C16.0259 15.7369 16.1832 15.9156 16.3224 16.0554C16.9542 16.6925 17.846 17.0867 19.0139 17.2494C19.4267 17.3044 20.4646 17.3044 20.8728 17.2471C22.0316 17.0867 22.9234 16.6879 23.5529 16.0554C23.6921 15.9156 23.8495 15.7369 23.9042 15.659L24 15.5146H23.9247H23.8472L23.3659 14.5108C23.099 13.9608 22.287 12.2719 21.5594 10.7617L20.2342 8.01396L20.3368 7.92458C20.5809 7.70917 20.5923 7.33104 20.3619 7.08583C20.241 6.95521 20.1315 6.90938 19.9377 6.90938C19.8076 6.90938 19.7461 6.92083 19.6753 6.95979C19.5157 7.04458 19.3925 7.205 19.356 7.37458C19.3378 7.46167 19.3469 7.46396 19.0276 7.33104C18.6831 7.18667 18.2749 6.92542 17.5609 6.38917C16.8151 5.82771 16.6326 5.70625 16.1399 5.45188C15.0907 4.90646 14.0528 4.59021 13.0219 4.50083L12.8462 4.48708L12.8097 4.32208C12.7618 4.10667 12.6706 3.81792 12.6113 3.70563C12.5816 3.64604 12.5702 3.58646 12.5748 3.53146C12.5816 3.48563 12.5748 3.43063 12.5611 3.40771C12.5406 3.37563 12.5474 3.34813 12.5885 3.28167C12.682 3.13042 12.7573 2.94938 12.8029 2.76146C12.8417 2.6125 12.8485 2.53229 12.8394 2.32604C12.8257 2.06021 12.8006 1.96625 12.6318 1.55833C12.5862 1.45063 12.4858 1.10458 12.4106 0.790626C12.333 0.474376 12.2532 0.187918 12.2349 0.153543C12.1962 0.0756259 12.0798 8.64267e-07 12 8.64267e-07C11.9681 8.64267e-07 11.911 0.0206259 11.87 0.0458342ZM4.14902 7.40667C4.16499 7.42271 4.17639 7.46167 4.17639 7.49375C4.17639 7.52583 4.16499 7.56479 4.14902 7.58083C4.13305 7.59688 4.09428 7.60833 4.06235 7.60833C4.03041 7.60833 3.99164 7.59688 3.97567 7.58083C3.9597 7.56479 3.9483 7.52583 3.9483 7.49375C3.9483 7.46167 3.9597 7.42271 3.97567 7.40667C3.99164 7.39063 4.03041 7.37917 4.06235 7.37917C4.09428 7.37917 4.13305 7.39063 4.14902 7.40667ZM20.0243 7.40667C20.0403 7.42271 20.0517 7.46167 20.0517 7.49375C20.0517 7.52583 20.0403 7.56479 20.0243 7.58083C20.0084 7.59688 19.9696 7.60833 19.9377 7.60833C19.9057 7.60833 19.8669 7.59688 19.851 7.58083C19.835 7.56479 19.8236 7.52583 19.8236 7.49375C19.8236 7.46167 19.835 7.42271 19.851 7.40667C19.8669 7.39063 19.9057 7.37917 19.9377 7.37917C19.9696 7.37917 20.0084 7.39063 20.0243 7.40667ZM3.95742 8.08042C3.99164 8.09417 3.99392 8.4425 3.99392 11.8044V15.5146H2.16005H0.323893L0.490401 15.164C0.583919 14.9738 0.841665 14.4329 1.06748 13.9677C1.29329 13.5002 2.02319 11.9831 2.69378 10.5921C3.3621 9.20333 3.9118 8.06667 3.91637 8.06667C3.91865 8.06667 3.93689 8.07354 3.95742 8.08042ZM20.4212 8.75875C20.9435 9.84958 23.6031 15.3633 23.6419 15.4435L23.6807 15.5146H21.8422H20.0061V11.8067C20.0061 9.76708 20.0129 8.08958 20.022 8.08271C20.0289 8.07354 20.0494 8.06667 20.0631 8.06667C20.0768 8.06667 20.2387 8.37833 20.4212 8.75875ZM4.58696 8.84583C4.7854 9.25604 5.48793 10.7135 6.1494 12.0885C6.81087 13.4613 7.4541 14.795 7.57727 15.0494L7.8008 15.5146H5.96465H4.13077V11.7998V8.08729L4.18095 8.09417C4.22201 8.09875 4.295 8.23625 4.58696 8.84583ZM19.8533 11.7952L19.8464 15.5031L18.0239 15.51L16.1992 15.5146L16.3543 15.1892C16.441 15.0081 16.6029 14.6713 16.7147 14.4375C16.8287 14.2038 17.5381 12.7302 18.2954 11.1604C19.9285 7.77104 19.7689 8.08958 19.819 8.08958C19.8555 8.08958 19.8578 8.29354 19.8533 11.7952Z" />
                    </svg>
                </button>
            </div>
        }
    </div>
}

@* Pagination, add some click events to get *@
<div class="w-full flex justify-center my-5">
    <div class="btn-group gap-3">
        <button class="btn glass text-gray-500">«</button>
        <button class="btn glass text-gray-500">Page {{page}}</button>
        <button class="btn glass text-gray-500">»</button>
    </div>
</div>

@* <script>
window.addEventListener("resize", () => {
const desktopScreen = window.innerWidth < 768;

document.querySelector("details").open = !desktopScreen;
});
</script> *@

@code {
    private string sort = ""; // This will be an enum
    private List<string> sortingOptions = new List<string>() {
"Highest - Lowest",
"Lowest - Highest",
"A - Z",
"Z - A",
"Price Asc",
"Price Desc"
};

    private bool productsLoaded = false;
    private List<string> products = new List<string>(){
"one",
"two",
"three",
"four"
};
}
