<section class="flex flex-col border border-1">
    <div class="flex aspect-square jusify-center align-center p-5">
        @* Change the image source *@
        <img class="object-contain mx-auto my-auto"
            src={{product.Img_url}}
            alt="">
    </div>

    @* Get the product information  *@
    <div class="flex flex-col gap-5 px-5 py-2">
        <div>
            <p class="font-semibold">
                {{product.Name}}
            </p>
            <p class="text-md">
                {{product.Price | currency:"ZAR" | slice:2}}
            </p>
        </div>
        <p>
            {{getStoreName(product.Site_id)}}
        </p>
    </div>
</section>

@code {

}
